streamlit==1.25.0
#DeepImageSearch==2.5
pandas==2.0.3
matplotlib==3.7.2
Pillow==9.5.0
tqdm==4.65.0
numpy==1.22.0
torch==2.0.1
torchvision==0.15.2
#faiss-cpu==1.7.4
#faiss
#zipfile
#os
#timm
#math
sentence-transformers

